html {
    font-size: 16px;
    background-color: #f0eff2;
}

p {
    margin: 0;
}

.attendance {
    margin-top: 170px;
    text-align: center;
}

.attendance-form {
    margin: 0 auto;
    width: 30%;
    text-align: center;
}

.work-status {
    width: 85px;
    margin: 0 auto;
    align-items: center;
    padding: 5px 3px;
    background-color: #c8c8c8;
    border-radius: 20px;
    color: #696969;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.now-date {
    width: 100%;
    font-size: 2rem;
    padding: 30px 0;
}

.now-time {
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 70px;
}

.btn {
    display: flex;
    justify-content: space-between;
}

.btn-black {
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 15px;
    background: #000000;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
}

.btn-white {
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 15px;
    background: #fff;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
}

.message {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 auto;
}

@media (max-width:1100px) {
    html {
        font-size: 32px;
    }

    .attendance-form {
        width: 90%;
    }

    .work-status {
        width: 195px;
    }

    .now-date {
        width: 100%;
        font-size: 1.5rem;
    }

    .now-time {
        width: 100%;
        font-size: 3.5rem;
    }

    .btn-black {
        font-size: 1.5rem;
    }

    .btn-white {
        font-size: 1.5rem;
    }
}