html {
    font-size: 16px;
    background-color: #f0eff2;
}

h2 {
    margin: 0;
}

.detail {
    width: 60%;
    margin: 0 auto;
}

.detail-heading {
    margin: 80px 0;
    border-left: 7px solid #000;
    padding: 0 20px;
}

.detail-tb {
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 20px;
}

tr:nth-of-type(n+1) {
    border-bottom: 3px solid #f0eff2;
}

th {
    letter-spacing: 0.1em;
    padding: 20px 200px 20px 40px;
    text-align: left;
    width: 25%;
    white-space: nowrap;
    color: #737373;
}

td {
    letter-spacing: 0.1em;
    padding: 30px 300px 30px 0;
    text-align: left;
    align-items: center;
    font-weight: bold;
    font-size: 1.0rem;
}

.group {
    display: flex;
    justify-content: space-between;
    padding: 30px 315px 30px 15px;
}

.txt-group {
    display: flex;
    justify-content: space-between;
}

.txt {
    width: 100px;
    line-height: 30px;
    border: 2px solid #f0eff2;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.0rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

.correction-btn {
    text-align: right;
    margin-top: 100px;
}

.txa {
    width: 100%;
    line-height: 30px;
    resize: none;
    border: 2px solid #f0eff2;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.0rem;
}

.btn {
    padding: 10px;
    width: 15%;
    border: none;
    border-radius: 15px;
    background: #000000;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width:1400px) {
    html {
        font-size: 25px;
    }

    .detail {
        width: 90%;
    }

    .detail-tb {
        width: 100%;
    }

    .detail-tb tr {
        width: 100%;
    }

    .detail-tb th {
        padding: 20px 0 20px 40px;
    }

    .detail-tb td {
        display: block;
        text-align: right;
        width: 100%;
        padding: 20px 40px;
    }

    .detail-tb td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        margin-right: 10px;
    }

    .group {
        position: relative;
    }

    .txt {
        width: 200px;
    }

    .txa {
        width: 450px;
    }

    .btn {
        padding: 10px;
        width: 100%;
    }
}

@media (max-width:785px) {
    .txa {
        width: 200px;
    }
}