html {
    font-size: 16px;
}

p {
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}

.verify-content {
    margin: 200px auto;
    padding: 30px 15px;
    max-width: 1230px;
    width: 70%;
    text-align: center;
}

span {
    display: inline-block;
}

.verify-btn {
    padding: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-top: 60px;
    width: 30%;
}

.resend {
    text-decoration: none;
    background: none;
    color: #0173cc;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 60px;
}

nav {
    display: none;
}

.hamburger {
    display: none;
}

@media (max-width:1200px) {
    .verify-content {
        width: 90%;
    }

    .verify-btn {
        width: 100%;
        font-size: 2.5rem;
    }

    span {
        font-size: 2.0rem;
    }
}